#carousel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100vw;
    min-height: 40rem;
    background: url("../assets/pics/home.jpg") no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    #carousel {
        grid-template-columns: 1fr;
    }
}

#carousel > div {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 5%;
}

#carousel .intro {
    width: 80%;
}

#carousel .intro h1 {
    font-size: 3rem;
    background: linear-gradient(to right, #FD6687, #00BCD4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#carousel .intro p {
    font-size: 1.2rem;
    line-height: 2rem;
    color: white;
}

#carousel .login {
    width: 80%;
    max-width: 20rem;
    background: white;
    border-radius: 2rem;
    text-align: center;
    color: black;
}

#carousel .login p {
    margin: 0.2rem 0 0.4rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: #8A8DAA;
}

#carousel .login input, #carousel .login select {
    width: 80%;
}

#carousel .login input.smaller-input {
    width: 40%;
}

#carousel .login button {
    width: 60%;
    max-width: 10rem;
    margin: 0.6rem 0 1.2rem 0;
}