@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

/*GLOBAL CSS*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.vr {
    border-left: 1px solid #d8d8d8;
    height: 2rem;
    margin-left: -1px;
}

#wrapper {
    position: relative;
    padding: 5rem 0 3rem 0;
    min-height: 100vh;
}

/*NAVBAR CSS*/

#navbar {
    display: grid;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    z-index: 99;
    background-color: white;
    box-shadow: none;
    justify-items: center;
    transition: 0.4s;
}

#navbar .nav-items {
    width: 90%;
    max-width: 70rem;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    align-items: center;
}

#navbar .nav-items > div:nth-child(1) {
    justify-self: start;
}

#navbar .nav-items > div:nth-child(2) {
    justify-self: center;
}

#navbar .nav-items > div:nth-child(3) {
    justify-self: end;
}

#navbar .nav-items > div:nth-child(1) > div, #navbar .nav-items > div:nth-child(3) > div {
    margin: 0.5rem;
}

#navbar .nav-items > div > div {
    display: inline;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #8A8DAA;
    letter-spacing: 0.05rem;
    transition: color 0.4s ease-in-out;
    /*-webkit-transition: background-color 0.4s ease;*/
}

#navbar .nav-items > div > div:hover {
    color: #585a6d;
}

#navbar .nav-items svg {
    width: 1.3rem;
    margin-top: 3px;
    stroke: #8A8DAA;
    transition: stroke 0.4s;
}

#navbar .nav-items svg:hover {
    stroke: #585a6d;
}

#navbar .nav-items .logo img {
    width: 3rem;
    margin-top: 2px;
    transition: 0.4s;
}

#navbar .nav-items .logo img:hover {
    animation: shake 1s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(0.3px, 0.3px) rotate(0deg);
    }
    20% {
        transform: translate(-0.3px, -0.6px) rotate(-1deg);
    }
    40% {
        transform: translate(-0.9px, 0px) rotate(1deg);
    }
    60% {
        transform: translate(0.9px, 0.6px) rotate(0deg);
    }
    80% {
        transform: translate(0.3px, -0.3px) rotate(1deg);
    }
    100% {
        transform: translate(-0.3px, 0.6px) rotate(-1deg);
    }
}

/*BODY CSS*/

#container {
    width: 100vw;
    height: 300vh;
    background-color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 3rem;
    background-color: white;
}

/*HOME CSS*/

#carousel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100vw;
    min-height: 40rem;
    background: url("../assets/pics/home.jpg") no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    #carousel {
        grid-template-columns: 1fr;
    }
}

#carousel > div {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 5%;
}

#carousel .intro {
    width: 80%;
}

#carousel .intro h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    background: linear-gradient(to right, #FD6687, #00BCD4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#carousel .intro p {
    font-size: 1.2rem;
    line-height: 2rem;
    color: white;
}

#carousel .login {
    width: 80%;
    max-width: 20rem;
    background: white;
    border-radius: 2rem;
    text-align: center;
    color: black;
}

#carousel .login h1 {
    font-family: 'Roboto', sans-serif;
}

#carousel .login p {
    margin: 0.1rem 0 0.5rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: #8A8DAA;
}

#carousel .login input {
    width: 80%;
}