body {
    background-color: #191919;
}

#main {
    position: relative;
    top: 130px;
}

#navbar {
    background-color: #191919;
    border-bottom-color: black;
}

#navbar img {
    filter: invert(1);
}

#navbar .left-buttons {
    color: #e6e6e6;
}

#navbar-right a:hover {
    background-color: black;
}

#screenshot {
    position: relative;
    max-width: 550px;
    width: 95%;
    left: 50%;
    margin: 40px 0px;
    transform: translate(-50%);
    text-align: center;
    border: solid 1px black;
    background-color: black;
    box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, .5)
}

#screenshot video {
    width: 100%;
}

#screenshot-img {
    width: 100%;
}

#tri-buttons {
    display: flex;
    margin: 10px 0px 20px 0px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.screenshot-button-back {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.screenshot-button {
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    border: solid 3px black;
    border-radius: 50%;
    outline: none;
}

.screenshot-button:hover {
    background-color: #ffffff;
}

.screenshot-button:active {
    background-color: #d0d0d0;
}

#screenshot-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#screenshot-upload button {
    margin: 0px 0px;
    width: 55px;
    height: 55px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 5px;
    outline: none;
}

#screenshot-upload img {
    width: 40px;
}

#screenshot-upload input {
    margin: 0px 0px;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.capture-button {
    width: 55px;
    height: 55px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 5px;
    outline: none;
}

.capture-button img {
    width: 36px;
}

#stickers-panel {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#stickers-panel .shadow {
    width: 1px;
    height: 35px;
    z-index: 99;
    /* background-color: #191919; */
    background-color: black;
}

#stickers-panel .left {
    /* box-shadow: 16px 0px 16px 24px #191919; */
    box-shadow: 16px 0px 16px 24px black;
}

#stickers-panel .right {
    /* box-shadow: -16px 0px 16px 24px #191919; */
    box-shadow: -16px 0px 16px 24px black;
}

#stickers-carousel {
    display: flex;
    width: 90%;
    height: 80px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

#stickers-carousel img {
    width: 60px;
    height: 60px;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: white;
}

#stickers-carousel img:hover {
    box-shadow: 0px 0px 0px 3px #ffc830;
}

#bottom-buttons {
    position: fixed;
    bottom: 0px;
    max-width: 550px;
    width: 95%;
    left: 50%;
    margin: 40px 0px;
    transform: translate(-50%);
    border: solid 1px black;
    border-radius: 50px;
    background-color: black;
    box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, .5)
}