body {
    background-color: #191919;
}

button {
    width: 220px;
    height: 40px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 20px;
    font-family: myProximaNovaReg;
    font-size: 18px;
    color: black;
    outline: none;
}

#main {
    position: relative;
    top: 130px;
}

#navbar {
    background-color: #191919;
    border-bottom-color: black;
}

#navbar img {
    filter: invert(1);
}

#navbar .left-buttons {
    color: #e6e6e6;
}

#navbar-right a:hover {
    background-color: black;
}

#screenshot {
    width: 100%;
    text-align: center;
}

#screenshot video {
    margin: 40px 0px;
    width: 50%;
    height: 50%;
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: 0px 0px 128px 0px rgba(255, 255, 255, .05)
}