body {
    background-color: #191919;
}

#main {
    position: relative;
    top: 130px;
}

#navbar {
    background-color: #191919;
    border-bottom-color: black;
}

#navbar img {
    filter: invert(1);
}

#navbar #logo {
    color: #e6e6e6;
}

#navbar .right a:hover {
    background-color: black;
}

@media screen and (min-width: 580px) {
    #screenshot {
        height: 522.5px;
    }
}

#footer {
    position: fixed;
    bottom: 0;
    border-top-color: black;
    background-color: #191919;
}

#footer a:hover, #footer a:hover span {
    color: white;
}

#screenshot {
    position: relative;
    max-width: 550px;
    width: 95%;
    margin: 40px 0px;
    text-align: center;
    overflow: hidden;
    border: solid 1px black;
    background-color: black;
    box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, .5);
}

#screenshot video {
    position: relative;
    width: 100%;
    margin-bottom: -4px;
    z-index: 10;
}

#screenshot .captured-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: black;
}

#screenshot .sticker-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 100%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

#tri-buttons {
    display: flex;
    margin: 0px 0px 20px 0px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.screenshot-button-back {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.screenshot-button {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border: solid 3px black;
    border-radius: 50%;
    outline: none;
}

.screenshot-button:hover {
    background-color: #ffffff;
}

.screenshot-button:active {
    background-color: #d0d0d0;
}

#screenshot-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#screenshot-upload button {
    margin: 0px 0px;
    width: 55px;
    height: 55px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 5px;
    outline: none;
}

#screenshot-upload img {
    width: 35px;
}

#screenshot-upload input {
    margin: 0px 0px;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.retake-button {
    width: 55px;
    height: 55px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 5px;
    outline: none;
}

.retake-button img {
    width: 30px;
}

#stickers-panel {
    display: flex;
    width: 100%;
    height: 80px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#stickers-panel .shadow {
    width: 1px;
    height: 45px;
    z-index: 99;
    background-color: black;
    box-shadow: 0px 0px 16px 24px black;
}

#stickers-carousel {
    display: flex;
    width: 99%;
    height: 80px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

#stickers-carousel img {
    width: 45px;
    height: 45px;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: white;
}

#stickers-carousel img:hover {
    box-shadow: 0px 0px 0px 3px #ffc830;
}

#bottom-buttons {
    position: relative;
    max-width: 400px;
    width: 95%;
    margin-bottom: 40px;
    border: solid 1px black;
    border-radius: 25px;
    background-color: black;
    overflow: hidden;
}

#tri-panels {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 80px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#left-panel {
    width: 95%;
    max-width: 325px;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 25px;
    background-color: black;
    box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, .5);
}

#center-panel {
    display: flex;
    width: 100%;
    max-width: 550px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right-panel {
    width: 95%;
    max-width: 325px;
    margin-bottom: 100px;
    border: solid 1px black;
    border-radius: 25px;
    background-color: black;
    box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, .5);
}

#arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#arrow-left-right {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#arrows button {
    display: none;
    width: 1000px;
    height: 120px;
    border: none;
    outline: none;
    background: none;
    font-family: myProximaNovaBold;
    color: white;
}

#arrow-left-right button {
    width: 60px;
    height: 1000px;
}

#arrows button.up:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
}

#arrows button.left:hover {
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
}

#arrows button.right:hover {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
}

#arrows button.down:hover {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
}

#arrows button img {
    width: 20px;
    filter: invert(1);
    opacity: .5;
}

#arrows button.up img {
    transform: rotate(180deg);
}

#arrows button.left img {
    transform: rotate(90deg);
}

#arrows button.right img {
    transform: rotate(-90deg);
}

#arrows button.down img {
    transform: rotate(0deg);
}

#arrows button:hover img {
    opacity: 1;
}

#left-panel {
    text-align: center;
}

#left-panel p {
    margin: 30px 0px 22px 0px;
    font-family: myProximaNovaReg;
    font-size: 20px;
    color: white;
}

#left-panel p.comment {
    margin: 0px 20px 5px 20px;
    font-size: 15px;
    color: #999999;
    line-height: 25px;
}

#left-panel textarea {
    position: relative;
    width: 90%;
    margin: 8px 0px;
    padding: 7px 12px;
    background-color: #111111;
    border: solid 1px #2e2e2e;
    border-radius: 3px;
    outline: none;
    font-family: myProximaNovaReg;
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;
    resize: none;
}

#left-panel textarea:hover {
    border-color: #474747;
}

#left-panel textarea:focus {
    border-color: #555555;
}

#left-panel .counter {
    position: relative;
    float: right;
    top: -34px;
    right: 5%;
    padding: 0px 7px;
    font-family: myProximaNovaReg;
    color: #999999;
}

#left-panel button {
    position: relative;
    top: -2px;
    margin: 0px 0px 28px 0px;
    width: 70%;
    max-width: 220px;
    height: 40px;
    background-color: #3E99ED;
    border: none;
    border-radius: 20px;
    font-family: myProximaNovaReg;
    font-size: 18px;
    color: white;
    outline: none;
    cursor: not-allowed;
}

#left-panel button:hover {
    background-color: #44a5ff;
}

#left-panel button:active {
    background-color: #2e73b4;
}

#left-panel button.disabled {
    color: black;
    background-color: #f3f3f3;
}

#right-panel {
    text-align: center;
}

#right-panel p {
    margin: 30px 0px 22px 0px;
    font-family: myProximaNovaReg;
    font-size: 20px;
    color: white;
}

#right-panel p.comment {
    margin: 0px 20px 5px 20px;
    font-size: 15px;
    color: #999999;
    line-height: 25px;
}

#right-panel .post-list {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    max-height: 500px;
    margin: 16px 0px;
    padding: 10px;
    background-color: #111111;
    border: solid 1px #2e2e2e;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
}

#right-panel .post-list:hover {
    border-color: #474747;
}

#right-panel .post-list:focus {
    border-color: #555555;
}

#right-panel .post-list .post-image {
    display: block;
    position: inherit;
    width: 40%;
    height: 40%;
    margin: 5%;
    border-radius: 3px;
    cursor: pointer;
}

#right-panel .post-list .post-image img.pic {
    width: 100%;
    border-radius: 3px;
}

#right-panel .post-list .post-image:hover img.pic {
    filter: brightness(0.3);
}

#right-panel .post-list .post-image img.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#right-panel .post-list .post-image:hover img.overlay {
    opacity: 1;
}

#center-panel .error {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    z-index: 1;
}

#center-panel .error p {
    width: 100%;
    margin: 0px 0px 22px 0px;
    font-family: myProximaNovaReg;
    font-size: 20px;
    color: white;
}

#center-panel .error span {
    font-family: myProximaNovaBold;
}

#center-panel .error p.comment {
    width: 100%;
    margin: 0 0;
    padding: 0% 20%;
    font-size: 15px;
    color: #999999;
    line-height: 25px;
}