#flex-form {
    position: relative;
    top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#form-box {
    margin: 40px 20px 40px 20px;
    max-width: 370px;
    width: 95%;
    background: white;
    border: solid 1px #E6E6E6;
    border-radius: 3px;
    text-align: center;
}

#form-box:hover {
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
}

#form-box p {
    margin: 30px 0px 22px 0px;
    font-family: myProximaNovaReg;
    font-size: 20px;
}

#form-box span {
    font-family: myProximaNovaBold;
}

#form-box input {
    position: relative;
    margin: 8px 0px 8px 0px;
    width: 220px;
    height: 40px;
    padding-left: 12px;
    background-color: #FAFAFA;
    border: solid 1px #E6E6E6;
    border-radius: 3px;
    outline: none;
    font-family: myProximaNovaReg;
    letter-spacing: 0.5px;
}

#form-box input:hover {
    border-color: #d4d4d4;
}

#form-box input:focus {
    border-color: #bebebe;
}

#form-box input.invalid {
    border: solid 1px #dfabab;
    background-color: #ffe2e2;
}

#form-box input.invalid:hover {
    border: solid 1px #da9a9a;
}

#form-box input.invalid:focus {
    border: solid 1px #c27878;
}

#form-box input.validation:valid {
    border: solid 1px #a9dacc;
    background-color: #f8fffa;
}

#form-box input.validation:valid:hover {
    border: solid 1px #8acfbc;
}

#form-box input.validation:valid:focus {
    border: solid 1px #6abda5;
}

#form-box button {
    position: relative;
    margin: 22px 0px 35px 0px;
    width: 220px;
    height: 40px;
    background-color: #3E99ED;
    border: none;
    border-radius: 20px;
    font-family: myProximaNovaReg;
    font-size: 18px;
    color: white;
    outline: none;
}

#form-box button:hover {
    background-color: #44a5ff;
}

#form-box button:active {
    background-color: #2e73b4;
}

#form-button a {
    margin: 0;
    font-size: 12px;
    font-family: myProximaNovaReg;
    color: #999999;
}

#form-button button {
    color: #231F20;
    background-color: #f3f3f3;
}

#form-button button:hover {
    background-color: #ececec;
}

#form-button button:active {
    background-color: #ececec;
    opacity: .5;
}
