@font-face {
    font-family: myBillabong;
    src: url(../fonts/Billabong.woff);
}

@font-face {
    font-family: myProximaNovaReg;
    src: url(../fonts/ProximaNovaRegular.woff);
}

@font-face {
    font-family: myProximaNovaBold;
    src: url(../fonts/ProximaNovaBold.woff);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FAFAFA;
    color: #231F20;
}

#navbar {
    overflow: hidden;
    background-color: white;
    padding: 40px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    border-bottom: solid 1px #E6E6E6;
}

#navbar a {
    position: relative;
    float: left;
    color: #231F20;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    height: 48px;
}

#navbar #logo {
    font-family: myBillabong;
    font-size: 60px;
    transition: 0.4s;
    padding: 16px 12px 10px 12px;
    margin-left: 15%;
}

/* #navbar a:hover {
    background-color: #ddd;
    color: #231F20;
} */

#navbar a:active{
    opacity: .5;
}

#navbar a.active {
    background-color: dodgerblue;
    color: white;
}

#navbar-right {
    float: right;
    margin-right: 15%;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 10px 10px !important;
    }
    #navbar a {
        float: none;
        display: inline-block;
        text-align: left;
    }
    #navbar-right {
        float: right;
    }
    #logo {
        font-size: 30px;
    }
}

#feed {
    position: absolute;
    top: 125px;
    width: 100%;
    font-family: myProximaNovaReg;
}

#feed-box {
    position: relative;
    margin-top: 75px;
    margin-bottom: 75px;
    left: 50%;
    transform: translate(-50%);
    height: 950px;
    width: 700px;
    background-color: white;
    border: solid 1px #E6E6E6;
    border-radius: 3px; 
}

#feed-box:hover {
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
}

#feed-header {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 80px;
}

#feed-user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px 15px 15px 15px;
    background: center;
    background-size: cover;
}

#feed-user-login {
    width: 250px;
    height: 50px;
    margin: 15px 15px 15px 0px;
}

#feed-user-login a {
    font-family: myProximaNovaBold;
    text-decoration: none;
    color: #231F20;
}

#feed-pic {
    position: relative;
    width: 100%;
    height: 698px;
    background-color: lightcoral;
    background: center;
    background-size: cover;
}

#feed-buttons {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 50px;
    text-align: center;
}

#feed-like-button {
    position: relative;
    width: 49%;
    height: 40px;
    margin: 5px 0px 5px 0px;
    border: solid 1px #E6E6E6;
    border-radius: 3px;
    outline: none;
    padding: 10px 0px 10px 0px;
}

#feed-like-button:hover {
    background-color: #f3f3f3;
    border: solid 1px #E6E6E6;
}

#feed-like-button:active {
    background-color: #dddddd;
    border: solid 1px #cacaca;
}

#feed-buttons-img {
    position: relative;
    top: -5px;
    right: 5px;
}

#feed-buttons-txt {
    position: relative;
    top: -10px;
    left: 5px;
    font-family: myProximaNovaReg;
    font-size: 15px;
}