@font-face {
    font-family: myBillabong;
    src: url(../fonts/Billabong.woff);
}

@font-face {
    font-family: myProximaNovaReg;
    src: url(../fonts/ProximaNovaRegular.woff);
}

@font-face {
    font-family: myProximaNovaBold;
    src: url(../fonts/ProximaNovaBold.woff);
}

* {
    box-sizing: border-box;
    transition: background-color .25s, box-shadow .25s, opacity .25s, border .5s, filter .25s;
}

* a {
    text-decoration: none;
}

* button {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #FAFAFA;
    color: #231F20;
}

#navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, .95);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    border-bottom: solid 1px #E6E6E6;
}

#navbar a {
    position: relative;
    float: left;
    color: #231F20;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 50%;
    height: 48px;
}

#navbar #logo {
    font-family: myBillabong;
    font-size: 60px;
    transition: 0.4s;
    padding: 16px 12px 10px 12px;
    margin-left: 15%;
}

#navbar a:active{
    opacity: .5;
}

#navbar-right {
    float: right;
    margin-right: 15%;
}

#navbar-right a:hover {
    background-color: #f3f3f3;
    color: #231F20;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 10px 10px !important;
    }
    #navbar a {
        float: none;
        display: inline-block;
        text-align: left;
    }
    #navbar-right {
        float: right;
    }
    #logo {
        font-size: 30px;
    }
}

#navbar img {
    width: 24px;
}

#feed {
    position: relative;
    top: 125px;
    width: 100%;
    font-family: myProximaNovaReg;
}

#feed-box {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    max-width: 550px;
    background-color: white;
    border: solid 1px #E6E6E6;
    border-radius: 3px; 
}

#feed-box:hover {
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
}

#feed-header {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 60px;
    font-size: 15px;
}

#feed-user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    background: center;
    background-size: cover;
}

#feed-user-login {
    height: 40px;
    margin: 10px 0px;
}

#feed-user-login a {
    font-family: myProximaNovaBold;
    text-decoration: none;
    color: #231F20;
}

#feed-user-login p {
    margin: 11px 0px;
}

#feed-date {
    height: 40px;
    margin: 10px 10px;
    margin-left: auto;
}

#feed-date a {
    font-family: myProximaNovaReg;
    text-decoration: none;
    color: #999999;
    font-size: 13px;
}

#feed-date p {
    margin: 12px 0px;
}

#feed-pic {
    position: relative;
    width: 100%;
    background-color: lightcoral;
    background: center;
    background-size: cover;
}

#feed-pic:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#feed-buttons {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 30px;
    text-align: center;
    white-space: nowrap;
}

#feed-like-button {
    position: relative;
    width: 32%;
    height: 30px;
    margin: 5px 1px;
    /* border: solid 1px #E6E6E6; */
    border: none;
    border-radius: 25px;
    background-color: white;
    outline: none;
    padding: 10px 0px 10px 0px;
}

#feed-like-button:hover {
    background-color: #f3f3f3;
    /* border: solid 1px #E6E6E6; */
}

#feed-like-button:active {
    opacity: .5;
}

#feed-buttons-img {
    position: relative;
    top: -4px;
    right: 5px;
    width: 16px;
}

#feed-buttons-txt {
    position: relative;
    top: -7px;
    left: 5px;
    font-family: myProximaNovaReg;
    font-size: 15px;
}

#feed-bar {
    width: 90%;
    margin-top: 10px;
    border: none;
    border-top: solid 1px #E6E6E6;
}

#feed-likedby {
    position: relative;
    margin-bottom: 5px;
    width: 95%;
    left: 50%;
    transform: translate(-50%);
    height: 18px;
}

#feed-likedby p {
    margin: 0px;
    font-family: myProximaNovaReg;
    font-size: 15px;
    color: #231F20;
}

#feed-likedby span {
    font-family: myProximaNovaBold;
}

#feed-legend {
    position: relative;
    margin-bottom: 5px;
    width: 95%;
    left: 50%;
    transform: translate(-50%);
    height: 18px;
    overflow: hidden;
}

#feed-legend p {
    display: inline;
    font-family: myProximaNovaReg;
    font-size: 15px;
    color: #231F20;
}

#feed-legend span {
    font-family: myProximaNovaBold;
}

#feed-morecoms {
    position: relative;
    margin-bottom: 5px;
    width: 95%;
    left: 50%;
    transform: translate(-50%);
    height: 18px;
    overflow: hidden;
}

#feed-morecoms p {
    display: inline;
    font-family: myProximaNovaBold;
    font-size: 15px;
    color: #999999;
}

#feed-comments {
    position: relative;
    margin-bottom: 8px;
    width: 95%;
    left: 50%;
    transform: translate(-50%);
    max-height: 58px;
    overflow: scroll;
    word-wrap: break-word;
}

#feed-comments p {
    margin: 2px 0px 0px 0px;
    font-family: myProximaNovaReg;
    font-size: 15px;
    color: #231F20;
}

#feed-comments span {
    font-family: myProximaNovaBold;
}

#feed-bar-2 {
    width: 90%;
    margin-top: 8px;
    border: none;
    border-top: solid 1px #E6E6E6;
}

#feed-comment-field {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

#feed-comment-field input {
    margin: 0px 10px 10px 10px;
    height: 30px;
    flex-grow: 2;
    font-size: 14px;
    border: solid 1px white;
    outline: none;
}

#feed-comment-field button {
    float: right;
    margin: 0px 10px 0px 0px;
    width: 80px;
    height: 30px;
    flex-grow: 0;
    background-color: #3E99ED;
    border: none;
    border-radius: 15px;
    font-family: myProximaNovaReg;
    font-size: 14px;
    color: white;
    outline: none;
}

#feed-comment-field button:hover {
    background-color: #44a5ff;
}

#feed-comment-field button:active {
    background-color: #2e73b4;
}

#previous-next {
    position: relative;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
    width: 140px;
    text-align: center;
}

#previous-next a {
    position: relative;
    float: left;
    height: 48px;
    padding: 12px;
    margin: 0px 10px 20px 10px;
    text-decoration: none;
    border-radius: 50%;
    background-color: white;
    border: solid 1px #E6E6E6;
}

#previous-next a:hover {
    /* box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1); */
    background-color: #f3f3f3;
}

#previous-next a:active {
    opacity: .5;
}

#previous-next img {
    width: 24px;
}