::selection {
    background-color: transparent;
}

.title {
    margin: 5vw auto;
    text-align: center;
    font-size: 10vw;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    width: 70vw;
    height: 60vw;
    margin: 5vw auto;
    padding: 1vw;
    background-color: darkblue;
    border-radius: 3vw;
    border-bottom: 0.75vw solid black;
}

.piece {
    width: 8vw;
    height: 8vw;
    background-color: white;
    border-radius: 4vw;
    cursor: copy;
}

.piece.red {
    background-color: red;
}

.piece.yellow {
    background-color: yellow;
}

.message {
    width: fit-content;
    margin: auto;
    padding: 2vw 4vw;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    color: white;
    border-radius: 3.5vw;
}

.message.red {
    background-color: red;
}

.message.yellow {
    background-color: #ffd500;
}

.message.win {
    background-color: green;
}

.restart {
    display: block;
    margin: 5vw auto;
    width: 30vw;
    height: 10vw;
    border-radius: 5vw;
    overflow: hidden;
    border: none;
    border-bottom: 0.5vw solid lightgrey;
    background-color: whitesmoke;
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.restart:active {
    border-bottom: none;
}

.ai-label {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    width: 10vw;
    height: 10vw;
    margin: 5vw auto;
    border-radius: 5vw;
    text-align: center;
    background-color: whitesmoke;
    font-size: 5vw;
    border-bottom: 0.5vw solid lightgrey;
    cursor: pointer;
}

input[type="checkbox"]:checked + .ai-label {
    background-color: lightgreen;
    color: white;
    animation: pulse 2s infinite;
    border-bottom: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(144, 238, 144, 0.6);
    }
    70% {
        box-shadow: 0 0 0 3vw rgba(144, 238, 144, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(144, 238, 144, 0);
    }
}