@font-face {
    font-family: myBebasNeue;
    src: url(../fonts/BebasNeue.woff);
}

@font-face {
    font-family: myLeafy;
    src: url(../fonts/Leafy.woff);
}

@font-face {
    font-family: myChlakh;
    src: url(../fonts/Chlakh.ttf);
}

body {
    background-color: whitesmoke;
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: myBebasNeue;
    letter-spacing: 2px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: white;
    color: #9CC2AF;
}

.top-div {
    position: fixed;
    top: 0;
    left: 0;
    height: 197px;
    width: 100%;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #C5DFC5;
}

.top-txt {
    font-family: myLeafy;
    color: #5f9285;
    text-align: center;
    font-size: 100px;
    margin: 30px 0px;
}

.top-sub {
    font-family: myChlakh;
    color: grey;
    text-align: center;
    font-size: 25px;
    margin: -35px 0px;
    letter-spacing: 5px;
}

.img-arrow {
    width: 20px;
}

.img-bag {
    width: 12px;
}

.main {
    position: absolute;
    z-index: -1;
    top: 220px;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
}

.title {
    position: relative;
    top: 30px;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    text-align: center;
    font-family: myBebasNeue;
    font-size: 25px;
    letter-spacing: 5px;
}

.title-txt {
    position: relative;
    display: inline;
    border: solid 2px white;
    color: white;
    margin: 0px -100px;
    padding: 0px 5px 0px 10px;
    background-color: #9CC2AF;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.2);
}

.product {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    margin: 50px 0px;
    height: 345px;
    width: 70%;
    min-width: 250px;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 0px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
}

.product:hover {
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.15);
}

.prod-img {
    position: relative;
    float: left;
    height: 325px;
    width: 215px;
    margin: 10px 10px;
    background-color: whitesmoke;
}

.prod-pic {
    position: relative;
    height: 100%;
    width: 100%;
}

.prod-vbar {
    position: relative;
    top: 10%;
    height: 80%;
    width: 1px;
    left: 235px;
    border-right: solid 2px black;
    margin: 0px 0px;
}

.prod-title {
    position: relative;
    top: -250px;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    text-align: center;
    font-family: myBebasNeue;
    font-size: 25px;
    letter-spacing: 5px;
}

.prod-title-txt {
    position: relative;
    display: inline;
    border: solid 2px black;
    color: black;
    margin: 0px 0px;
    padding: 0px 5px 0px 10px;
    background-color: white;
}

.prod-desc-txt {
    position: absolute;
    top: 75px;
    left: 238px;
    display: inline;
    text-align: justify;
    font-family: Helvetica;
    font-size: 15px;
    color: grey;
    margin: 0px 20px;
    padding: 0px 0px 0px 0px;
}

.prod-price {
    position: relative;
    bottom: 85px;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    text-align: center;
    font-family: Helvetica;
    font-size: 22px;
}

.prod-price-txt {
    position: relative;
    display: inline;
    color: #4a7066;
    margin: 0px 0px;
    padding: 0px 10px 0px 10px;
    background-color: white;
}

.prod-hbar {
    position: relative;
    height: 1px;
    width: 50px;
    bottom: 72px;
    left: 50%;
    transform: translate(185%);
    border-top: solid 2px black;
    margin: 0px 0px;
}

.prod-size {
    position: relative;
    bottom: 55px;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    text-align: center;
}

.prod-size-form-select {
    width: 130px;
    height: 30px;
    border: solid 1px lightgrey;
    border-radius: 0;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1px 7px 2px 7px;
    font-size: 11px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    background: white url(../img/arrow.png) no-repeat 95% / 15%;
}

.prod-size-form-select:hover {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
}

.prod-size-form-button {
    width: 130px;
    height: 30px;
    border: solid 1px lightgrey;
    background-color: white;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.prod-size-form-button:hover {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    background-color: #5f9285;
    color: white;
}

.search-bar {
    width: 130px;
    height: 16px;
    font-size: 16px;
    border: none;
    border-bottom: solid 1px #9CC2AF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1px 7px 2px 7px;
    font-size: 11px;
    background: white;
}

.search-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
}

.search-button:hover {
}

.img-loupe {
    position: relative;
    height: 10px;
    left: -2.5px;
    top: 1px;
}

.bottom-pay {
    position: relative;
    top: 100px;
    left: 50%;
    width: 80%;
    transform: translate(-50%);
    background: white;
    border: solid 1px lightgrey;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);

}

.bottom-pay:hover {
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.15);
}

.total {
    position: relative;
    left: 50px;
    font-family: myBebasNeue;
}