.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:1vw;padding:0px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:1vw;font-weight:normal;padding:0px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0n7a{background-color:#9aff99;border-color:#ffffff;text-align:left}
.tg .tg-vmjz{background-color:#e5be73;border-color:#ffffff;text-align:left}
.tg .tg-yqpd{border-color:#ffffff;text-align:left}
.tg .tg-r4tc{background-color:#fd6864;border-color:#ffffff;text-align:left}
.tg .tg-zv4m{border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-7xtz{background-color:#fd6864;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-2egc{background-color:#efefef;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-4rhe{background-color:#96fffb;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-gepa{background-color:#9aff99;color:#000000;border-color:#ffffff;text-align:left}
.tg .tg-uzdq{background-color:#ffce93;border-color:#ffffff;text-align:left}
.tg .tg-vswf{background-color:#9aff99;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-e166{background-color:#fffc9e;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-oxob{background-color:#ffce93;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-hvao{background-color:#c0c0c0;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-fi5k{background-color:#e5be73;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-8foh{background-color:#ffccc9;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-lant{background-color:#fac9ff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-acti{background-color:#fcb4e4;border-color:#ffffff;text-align:left;vertical-align:top}
.ins  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.ins td{font-family:Arial, sans-serif;font-size:1vw;padding:0px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.ins th{font-family:Arial, sans-serif;font-size:1vw;font-weight:normal;padding:0px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .top{font-size:100%;border:transparent;text-align:right;width:40px}
.tg .mid{font-size:100%;border:transparent;text-align:center;width:40px;font-size:150%}
.tg .bot{font-size:100%;border:transparent;text-align:left;width:40px}
.center{display:block;margin-left:auto;margin-right:auto;width:30%}