@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

* {
    font-family: inherit;
    color: var(--color-text);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}