.container {
    width: 100%;
    height: calc(100vh - 5rem);
    overflow: hidden;
    background-color: var(--bg);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    padding: 1vw 0 1vw 1vw;
}

.gallery > img {
    width: calc(100% - 1vw);
    margin-bottom: 1vw;
    border: 2px solid var(--bg-container);
    border-radius: 0.5rem;
    filter: blur(10px);
    opacity: 0.5;
    animation: carousel 20s infinite linear;
}

.gallery > img:nth-child(2n - 1) {
    margin-top: calc(-72.5%);
}

@keyframes carousel {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}